* {
    padding: 0px;
    margin: 0px;
}

#game-board {
    display: flex;
    justify-content: center;
  }


#score {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ec0276;
    font-size: 20px;
    position: absolute;
    left: 270px;
    top: 177px;
}


#best-score {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #8f92a3;
    font-size: 20px;
    position: absolute;
    left: 270px;
    top: 240px;
}

#launcher-menu img {
    position: absolute;
    width: 1000px;
    left: 350px;
    top: 100px;
    z-index: 1000;
    padding: 0px;
    margin: 0px;
}

#launcher-menu {
    width: 1664px;
    height: 936px;
    padding: 0px;
    margin: 0px;
    position: absolute;
}


#menu-video {
    position: absolute;
    width: 100%;
    height: 100%;
}


.hide {
    display: none;
}

#launch-btn {
    position: absolute;
    padding: 20px 100px;
    background-color: rgba(142, 145, 161, 0.452);
    top: 650px;
    left: 640px;
    z-index: 1000;
    border-radius: 12px;
}

#launch-btn h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: white;
}

#launch-btn:hover {
    background-color: rgba(214, 216, 228, 0.61);
    cursor: pointer;
}


#intro {
   width: 1664;
   height: 936;
   padding: 0px;
   margin: 0px;
}

#intro-video {
    position: absolute;
    width: 100%;
    height: 100%;
}


#main-menu {
    width: 1664px;
    height: 936px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    left: 5px;
    /* background-image: url('../IMAGES/basketball_game_main_menu.jpg'); */
}


#play-btn {
    position: absolute;
    padding: 20px 150px;
    background-color: rgb(252, 0, 63);
    top: 520px;
    left: 240px;
    z-index: 1000;
    border-radius: 6px;
    font-weight: 600;
    color: rgb(244, 245, 250);
}

#play-btn h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;

}

#play-btn:hover {
    background-color: rgba(4, 0, 255, 0.432);
    cursor: pointer;
}


#main-menu-btn {
    position: absolute;
    padding: 20px 122px;
    background-color: rgba(130, 138, 179, 0.438);
    top: 600px;
    left: 240px;
    z-index: 1000;
    border-radius: 6px;
    font-weight: 600;
    color: rgba(224, 230, 238, 0.76);
}

#main-menu-btn h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;

}

#main-menu-btn:hover {
    background-color: rgba(221, 223, 231, 0.548);
    cursor: pointer;
    color: rgb(58, 58, 61);
}

#home-btn {
    position: absolute;
    background-color: rgba(185, 186, 197, 0.151);
    width: 16px;
    left: 72px;
    top: 330px;
    z-index: 5000;
    padding: 16px;
    border-radius: 30%;
    opacity: 0.5;
}


#home-btn:hover {
    cursor: pointer;
    background-color:rgba(185, 186, 197, 0.815);
    opacity: 1;
}


#main-menu-btn2 {
    position: absolute;
    padding: 20px 141px;
    background-color: rgba(130, 138, 179, 0.438);
    top: 680px;
    left: 240px;
    z-index: 1000;
    border-radius: 6px;
    font-weight: 600;
    color: rgba(224, 230, 238, 0.76);
}

#main-menu-btn2 h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;

}

#main-menu-btn2:hover {
    background-color: rgba(221, 223, 231, 0.548);
    cursor: pointer;
    color: rgb(58, 58, 61);
}


#how-to-play {
    width: 1664px;
    height: 936px;
    padding: 0px;
    margin: 0px;
    z-index: 6000;
    position: absolute;
    left: 5px;
}


#back-btn {
    position: absolute;
    padding: 20px 30px 20px 50px;
    background-color: rgb(252, 0, 63);
    top: 50px;
    left: 0px;
    z-index: 7000;
    border-radius: 0px 16px 16px 0px;
    font-weight: 600;
    color: rgb(244, 245, 250);
    width: 80px;
}


#back-btn:hover {
    cursor: pointer;
    background-color: rgb(0, 47, 255);
}